<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
<title>Root Page</title>
</head>
<body>

	<h1>Welcome to the Team Fortress Page</h1>
	<hr>
	<img border="0" src="image/fortress.jpg" alt="Team Fortress"
		style="width: 50%; max-width: 400px;">

	<br>
	<a href="/add">Add Player</a>
	<br>
	<a href="/view">View Players</a>
	<br>
	<hr>
	<footer> Developed by: Jimmy Owusu & Usman Khan | Instructor:
		Mallika Mallika & Johnathan Peneva </footer>

</body>
</html>